header {
    display: flex;
    padding: 26px;
    gap: 20px;
    justify-content: space-between;
    font-family:'Courier New', Courier, monospace;
    background-color: #1d7874;
}

header img {
    max-width: 80px;
    margin-left: 30px;
}

.navbar a {
    text-decoration: none;
    font-weight: bold;
    color: #eeeeee;
}

.navbar a:hover {
    color: #f15558;
}

.navbar ul {
    display: flex;
    gap: 26px;
    list-style: none;
    margin: 0;
    padding: 0 12px 0 0;
}

body {
    background-color: #071e22;
    font-family:'Courier New', Courier, monospace;
    color: #fff;
}


.two-column-layout {
    background-color: #071e22;
    color: #fff;
    align-items: center;
    text-align: justify;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: ;
    padding: 70px 70px 0 70px;
    gap: 70px;
}

h1 {
    font-weight: bold; margin-left: 20px;
}

.judul {
    padding: 70px;
    margin-left: 20px;
}

/* Extra small devices (phones, 0px - 600px) */
/* Default styles - no media query needed */

/* Small devices (portrait tablets, large phones, 600px and up) */
@media (max-width: 800px) {
    .two-column-layout{
        background-color: #071e22;
        color: #fff;
        display: block;
        align-items: center;
        text-align: justify;
        padding: 70px 70px 0 70px;
        gap: 60px;
    }

    .two-column-layout img {
        max-width: 70%;
    }

    .two-column-layout p {
        margin-bottom: 30px;
    }

    .tulisan {
        margin-bottom: 30px;
    }

    header img {

    margin-left: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) { ... }

/* Extra large devices (large laptops/desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XXL devices (4K, 1400px and up) */
@media (min-width: 1400px) { ... }

html {
    scroll-behavior: smooth;
}
